<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Shull Weather</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <style>
    html {
      /*max-width: 70ch;*/
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
      font-size: 1.25em;
    }
  </style>

  <table class="table table-striped table-bordered table-sm table-responsive">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TimeStamp</th>
      <th scope="col">as3935LightningCount</th>
      <th scope="col">as3935LastInterrupt</th>
      <th scope="col">as3935LastDistance</th>
      <th scope="col">currentWindSpeed</th>
      <th scope="col">currentWindGust</th>
      <th scope="col">currentWindDirection</th>
      <th scope="col">currentWindDirectionVoltage</th>
      <th scope="col">totalRain</th>
      <th scope="col">bmp180Temperature</th>
      <th scope="col">bmp180Pressure</th>
      <th scope="col">bmp180Altitude</th>
      <th scope="col">bmp180SeaLevel</th>
      <th scope="col">outsideTemperature</th>
      <th scope="col">outsideHumidity</th>
      <th scope="col">insideTemperature</th>
      <th scope="col">insideHumidity</th>
      <th scope="col">AQI</th>
    </tr>
    {{#each weather}}
    <tr>
      <td>{{this.ID}}</td>
      <td>{{this.TimeStamp}}</td>
      <td>{{this.as3935LightningCount}}</td>
      <td>{{this.as3935LastInterrupt}}</td>
      <td>{{this.as3935LastDistance}}</td>
      <td>{{this.currentWindSpeed}}</td>
      <td>{{this.currentWindGust}}</td>
      <td>{{this.currentWindDirection}}</td>
      <td>{{this.currentWindDirectionVoltage}}</td>
      <td>{{this.totalRain}}</td>
      <td>{{this.bmp180Temperature}}</td>
      <td>{{this.bmp180Pressure}}</td>
      <td>{{this.bmp180Altitude}}</td>
      <td>{{this.bmp180SeaLevel}}</td>
      <td>{{this.outsideTemperature}}</td>
      <td>{{this.outsideHumidity}}%</td>
      <td>{{this.insideTemperature}}</td>
      <td>{{this.insideHumidity}}%</td>
      <td>{{this.AQI}}</td>
    </tr>
    {{/each}}
  </table>
</body>

</html>